<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IAJourDAO">
	<resultMap id="accountJour_DB_Result" type="accountJour">
		<result column="system_code" property="systemCode" />
		<result column="account_name" property="accountName" />
		<result column="account_number" property="accountNumber" />
		<result column="order" property="order" />
		<result column="channel_type" property="channelType" />
		
		<result column="pay_type" property="payType" />
		<result column="pay_order" property="payOrder" />
		<result column="biz_type" property="bizType" />
		<result column="trans_amount" property="transAmount" />
		<result column="pre_amount" property="preAmount" />
		
		<result column="post_amount" property="postAmount" />
		<result column="trans_datetime" property="transDatetime" />
		<result column="status" property="status" />
		<result column="work_date" property="workDate" />
		<result column="check_user" property="checkUser" />
		
		<result column="check_datetime" property="checkDatetime" />
		<result column="adjust_user" property="adjustUser" />
		<result column="adjust_datetime" property="adjustDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
			<if test="accountName != null and accountName != '' ">
				AND t.account_name = #{accountName}
			</if>
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>
			<if test="order != null and order != '' ">
				AND t.order = #{order}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>			
			<if test="bizType != null and bizType != '' ">
				AND t.biz_type = #{bizType}
			</if>	
			<if test="workDate != null and workDate != '' ">
				AND t.work_date = #{workDate}
			</if>		
			<if test="checkUser != null and checkUser != '' ">
				AND t.check_user = #{checkUser}
			</if>
		</trim>
	</sql>
	<select id="select_accountJour" parameterType="accountJour" resultMap="accountJour_DB_Result">
		SELECT
		,t.system_code
		,t.account_name
		,t.account_number
		,t.order
		,t.channel_type
		,t.pay_type
		,t.pay_order
		,t.biz_type
		,t.trans_amount
		,t.pre_amount
		,t.post_amount
		,t.trans_datetime
		,t.status
		,t.work_date
		,t.check_user
		,t.check_datetime
		,t.adjust_user
		,t.adjust_datetime
		,t.remark
		FROM
		tstd_account_jour t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_accountJour_count" parameterType="accountJour"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_account_jour t
		<include refid="where_condition" />
	</select>

	<insert id="insert_accountJour" parameterType="accountJour">
		INSERT INTO
		tstd_account_jour(
		system_code
		,account_name
		,account_number
		,order
		,channel_type
		,pay_type
		,biz_type
		,trans_amount
		,pre_amount
		,post_amount
		,status
		,work_date
		,remark
		)
		VALUES(
		#{systemCode}
		,#{accountName}
		,#{accountNumber}
		,#{order}
		,#{channelType}
		,#{payType}
		,#{bizType}
		,#{transAmount}
		,#{preAmount}
		,#{postAmount}
		,#{status}
		,#{workDate}
		,#{remark}
		)
	</insert>
		
	<update id="update_trans_account" parameterType="accountJour">
		UPDATE tstd_account_jour
		SET
		status= #{status}
		pay_order = #{payOrder}
		trans_datetime = #{transDatetime}
		WHERE
		order = #{order}
	</update>
	
	<update id="update_check_account" parameterType="accountJour">
		UPDATE tstd_account_jour
		SET
		status= #{status}
		,check_user= #{checkUser}
		,check_datetime= #{checkDatetime}
		WHERE
		order = #{order}
	</update>
	
	<update id="update_adjust_account" parameterType="accountJour">
		UPDATE tstd_account_jour
		SET
		status= #{status}
		,adjust_user = #{adjustUser}
		,adjust_datetime = #{adjustDatetime}
		WHERE
		order = #{order}
	</update>
</mapper>