<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IBankCardDAO">
	<resultMap id="bankCard_DB_Result" type="bankCard">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="type" property="type" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		
		<result column="subbranch" property="subbranch" />
		<result column="bankcard_no" property="bankCardNo" />
		<result column="bind_mobile" property="bindMobile" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
			<if test="bankCardNo != null and bankCardNo != '' ">
				AND t.bankcard_no = #{bankCardNo}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>	
		</trim>
	</sql>
	<select id="select_bankcard" parameterType="bankCard" resultMap="bankCard_DB_Result">
		SELECT
		id
		,user_id
		,type
		,bank_code
		,bank_name
		
		,subbranch
		,bankcard_no
		,bind_mobile
		,status
		,create_datetime
		
		,update_datetime
		FROM
		tstd_bankcard t
		<include refid="where_condition" />
		ORDER BY t.create_datetime DESC	
	</select>

	<select id="select_bankcard_count" parameterType="bankCard"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_bankcard t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bankcard" parameterType="bankCard">
		INSERT INTO
		tstd_bankcard(
		user_id
		,type
		,bank_code
		,bank_name
		
		,subbranch
		,bankcard_no
		,bind_mobile
		,status
		,create_datetime
		)
		VALUES(
		#{userId}
		,#{type}
		,#{bankCode}
		,#{bankName}
		
		,#{subbranch}
		,#{bankCardNo}
		,#{bindMobile}
		,#{status}
		,#{createDatetime}
		)
	</insert>
	<delete id="delete_bankcard" parameterType="bankcard">
		DELETE FROM
		tstd_bankcard
		WHERE
		id = #{id}
	</delete>
	
	
	<update id="update" parameterType="bankCard">
		UPDATE tstd_bankcard
		SET
		bank_code= #{bankCode}
		,bank_name= #{bankName}
		,subbranch= #{subbranch}
		,bankcard_no= #{bankCardNo}
		,bind_mobile = #{bindMobile}
		
		,status= #{status}
		,update_datetime = #{updateDatetime}
		WHERE id = #{id}
	</update>
	
	<update id="update_status" parameterType="bankCard">
		UPDATE tstd_bankcard
		SET
		status= #{status}
		,update_datetime = #{updateDatetime}
		WHERE id = #{id}
	</update>
</mapper>
