<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IBankDAO">
	<resultMap id="bank_DB_Result" type="bank">
		<result column="id" property="id" />
		<result column="bank_no" property="bankNo" />
		<result column="bank_name" property="bankName" />
		<result column="bank_type" property="bankType" />
		<result column="quick_type" property="quickType" />
		<result column="is_enable" property="isEnable" />
		
		<result column="channel_no" property="channelNo" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="bankNo != null and bankNo != '' ">
				AND t.bank_no = #{bankNo}
			</if>
			<if test="bankType != null and bankType != '' ">
				AND t.bank_type = #{bankType}
			</if>
			<if test="quickType != null and quickType != '' ">
				AND t.quick_type = #{quickType}
			</if>
			<if test="isEnable != null and isEnable != '' ">
				AND t.is_enable = #{isEnable}
			</if>
			<if test="channelNo != null and channelNo != '' ">
				AND t.channel_no = #{channelNo}
			</if>
		</trim>
	</sql>
	<select id="select_bank" parameterType="bank" resultMap="bank_DB_Result">
		SELECT
		id
		,bank_no
		,bank_name
		,bank_type
		,quick_type
		,is_enable		
		,channel_no
		FROM
		tli_bank t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
	</select>

	<select id="select_bank_count" parameterType="bank"
		resultType="java.lang.Long">
		SELECT count(1) FROM tli_bank t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bank" parameterType="bank">
		INSERT INTO
		tli_bank(
		bank_no
		,bank_name
		,bank_type
		,quick_type
		,is_enable		
		,channel_no
		)
		VALUES(
		#{bankNo}
		,#{bankName}
		,#{bankType}
		,#{quickType}
		,#{isEnable}
		,#{channelNo}
		)
	</insert>
	
	<update id="update_bank" parameterType="bank">
		UPDATE tli_bank
		SET
		bank_no= #{bankNo}
		,bank_name= #{bankName}
		,bank_type= #{bankType}
		,quick_type= #{quickType}
		,is_enable= #{isEnable}
		,channel_no = #{channelNo}
		WHERE id = #{id}
	</update>

	<delete id="delete_bank" parameterType="bank">
		DELETE FROM
		tli_bank
		WHERE
		id = #{id}
	</delete>
</mapper>
