<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IChannelDAO">
	<resultMap id="channel_DB_Result" type="channel">
		<result column="channel_no" property="channelNo" />
		<result column="channel_name" property="channelName" />
		<result column="channel_status" property="channelStatus" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="channelNo != null and channelNo != '' ">
				AND t.channel_no = #{channelNo}
			</if>
			<if test="channelStatus != null and channelStatus != '' ">
				AND t.channel_status = #{channelStatus}
			</if>			
		</trim>
	</sql>
	<select id="select_channel" parameterType="channel" resultMap="channel_DB_Result">
		SELECT
		channel_no
		,channel_name
		,channel_status
		,remark
		FROM
		tstd_channel t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
	</select>

	<select id="select_channel_count" parameterType="channel"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_channel t
		<include refid="where_condition" />
	</select>

	<insert id="insert_channel" parameterType="channel">
		INSERT INTO
		tstd_channel(
		channel_no
		,channel_name
		,channel_status
		,remark
		)
		VALUES(
		#{channelNo}
		,#{channelName}
		,#{channelStatus}
		,#{remark}
		)
	</insert>	

	<delete id="delete_channel" parameterType="channel">
		DELETE FROM
		tstd_channel
		WHERE
		channel_no = #{channelNo} 
	</delete>
	<update id="update_channel" parameterType="channel">
		UPDATE tstd_channel
		SET
		channel_name= #{channelName}
		,channel_status= #{channelStatus}
		,remark= #{remark}
		WHERE channel_no = #{channelNo} 
	</update>
</mapper>
