<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IChannelDAO">
	<resultMap id="channel_DB_Result" type="channel">
		<result column="channel_no" property="channelNo" />
		<result column="channel_name" property="channelName" />
		<result column="channel_status" property="channelStatus" />
		<result column="remark" property="remark" />
		<result column="merchant_id" property="merchantId" />
		
		<result column="sign_type" property="signType" />
		<result column="sign_key" property="signKey" />
		<result column="cer_path" property="cerPath" />
		<result column="poundage_type" property="poundageType" />
		<result column="channel_version" property="channelVersion" />
		
		<result column="business_web_gateway" property="businessWebGateway" />
		<result column="business_wap_gateway" property="businessWapGateway" />
		<result column="business_file_gateway" property="businessFileGateway" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="channelNo != null and channelNo != '' ">
				AND t.channel_no = #{channelNo}
			</if>
			<if test="channelStatus != null and channelStatus != '' ">
				AND t.channel_status = #{channelStatus}
			</if>			
		</trim>
	</sql>
	<select id="select_channel" parameterType="channel" resultMap="channel_DB_Result">
		SELECT
		channel_no
		,channel_name
		,channel_status
		,remark
		,merchant_id
		
		,sign_type
		,sign_key
		,cer_path
		,poundage_type
		,channel_version
		
		,business_web_gateway
		,business_wap_gateway
		,business_file_gateway	
		FROM
		tli_channel t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
	</select>

	<select id="select_channel_count" parameterType="channel"
		resultType="java.lang.Long">
		SELECT count(1) FROM tli_channel t
		<include refid="where_condition" />
	</select>

	<insert id="insert_channel" parameterType="channel">
		INSERT INTO
		tli_channel(
		channel_no
		,channel_name
		,channel_status
		,remark
		,merchant_id
		
		,sign_type
		,sign_key
		,cer_path
		,poundage_type
		,channel_version
		
		,business_web_gateway
		,business_wap_gateway
		,business_file_gateway	
		)
		VALUES(
		#{channelNo}
		,#{channelName}
		,#{channelStatus}
		,#{remark}
		,#{merchantId}
		
		,#{signType}
		,#{signKey}
		,#{cerPath}
		,#{poundageType}
		,#{channelVersion}
		
		,#{businessWebGateway}
		,#{businessWapGateway}
		,#{businessFileGateway}
		)
	</insert>

	

	<delete id="delete_channel" parameterType="channel">
		DELETE FROM
		tli_channel
		WHERE
		channel_no = #{channelNo} 
	</delete>
	<update id="update_channel" parameterType="channel">
		UPDATE tli_channel
		SET
		channel_name= #{channelName}
		,channel_status= #{channelStatus}
		,remark= #{remark}
		,merchant_id= #{merchantId}
		
		,sign_type= #{signType}
		,sign_key= #{signKey}
		,cer_path= #{cerPath}
		,poundage_type= #{poundageType}
		,channel_version= #{channelVersion}
		
		,business_web_gateway= #{businessWebGateway}
		,business_wap_gateway= #{businessWapGateway}
		,business_file_gateway= #{businessFileGateway}	
		WHERE channel_no = #{channelNo} 
	</update>
</mapper>
