<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IChargeDAO">
	<resultMap id="charge_DB_Result" type="charge">
		<result column="code" property="code" />
		<result column="from_type" property="fromType" />
		<result column="from_code" property="fromCode" />
		<result column="channel" property="channel" />
		<result column="type" property="type" />
		
		<result column="ref_no" property="refNo" />
		<result column="amount" property="amount" />
		<result column="price" property="price" />
		<result column="fee" property="fee" />
		<result column="pdf" property="pdf" />
		
		<result column="apply_user" property="applyUser" />	
		<result column="apply_note" property="applyNote" />	
		<result column="create_datetime" property="createDatetime" />	
		<result column="status" property="status" />
		<result column="approve_user" property="approveUser" />	
		<result column="approve_note" property="approveNote" />	
		
		<result column="approve_datetime" property="approveDatetime" />
		<result column="from_account_number" property="fromAccountNumber" />
		<result column="account_number" property="accountNumber" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="fromType != null and fromType != '' ">
				AND t.from_type = #{fromType}
			</if>	
			<if test="fromCode != null and fromCode != '' ">
				AND t.from_code = #{fromCode}
			</if>	
			<if test="channel != null and channel != '' ">
				AND t.channel = #{channel}
			</if>	
			<if test="refNo != null and refNo != '' ">
				AND t.ref_no = #{refNo}
			</if>	
			
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>	
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="approveUser != null and approveUser != '' ">
				AND t.approve_user = #{approveUser}
			</if>
			<if test="fromAccountNumber != null and fromAccountNumber != '' ">
				AND t.from_account_number = #{fromAccountNumber}
			</if>
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>
			<if test="currency != null and currency != '' ">
				AND ta.currency = #{currency}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>			
		</trim>
	</sql>
	<select id="select_charge" parameterType="charge" resultMap="charge_DB_Result">
		SELECT 
		t.code
	    ,t.from_type	
		,t.from_code
		,t.channel
		,t.ref_no

	    ,t.amount
	    ,t.price
	    ,t.type
	    ,ta.currency
	    ,t.fee
	    ,t.pdf
	    
	    ,t.apply_user
	    ,t.apply_note
		,t.create_datetime
		,t.status
		,t.approve_user
		
		,t.approve_note
		,t.approve_datetime
		,t.from_account_number
		,t.account_number
		FROM
		tstd_charge t inner join tstd_account ta on t.account_number = ta.account_number
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_charge_count" parameterType="charge" resultType="java.lang.Long">
		SELECT count(1) FROM tstd_charge t inner join tstd_account ta on t.account_number = ta.account_number
		<include refid="where_condition"/>
	</select>

	<insert id="insert_charge" parameterType="charge">
		INSERT INTO tstd_charge(
		code
		,from_type
		,from_code
		,channel
		,type
		
		,amount
		,price
		,pdf
		,status
		,ref_no
		
		,apply_user
		,apply_note
		,create_datetime
		,from_account_number		
		,account_number	
		)
		VALUES(
		#{code}
		,#{fromType}
		,#{fromCode}
		,#{channel}
		,#{type}
		
		,#{amount}
		,#{price}
		,#{pdf}
		,#{status}
		,#{refNo}
		
		,#{applyUser}
		,#{applyNote}
		,#{createDatetime}
		,#{fromAccountNumber}
		,#{accountNumber}
		)
	</insert>
	
	<update id="update_approve_order" parameterType="charge">
		UPDATE tstd_charge
		SET
		status= #{status}
		,approve_user= #{approveUser}
		,approve_note= #{approveNote}
		,approve_datetime= #{approveDatetime}		
		,ref_no= #{refNo}
		,fee= #{fee}
		WHERE
		code = #{code}					
	</update>
</mapper>

