<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IHLOrderDAO">
	<resultMap id="hlOrder_DB_Result" type="hlOrder">
		<result column="hl_no" property="hlNo" />
		<result column="status" property="status" />
		<result column="direction" property="direction" />
		<result column="amount" property="amount" />
		<result column="apply_user" property="applyUser" />	
		
		<result column="apply_note" property="applyNote" />		
		<result column="create_datetime" property="createDatetime" />	
		<result column="approve_user" property="approveUser" />	
		<result column="approve_datetime" property="approveDatetime" />				
		<result column="remark" property="remark" />	
	
		<result column="account_number" property="accountNumber" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="hlNo != null and hlNo != '' ">
				AND t.hl_no = #{hlNo}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>	
			<if test="direction != null and direction != '' ">
				AND t.direction = #{direction}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="approveUser != null and approveUser != '' ">
				AND t.approve_user = #{approveUser}
			</if>	
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>		
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>		
		</trim>
	</sql>
	<select id="select_hlOrder" parameterType="hlOrder" resultMap="hlOrder_DB_Result">
		SELECT 
		t.hl_no
		,t.status
		,t.direction
		,t.amount
		,t.apply_user
		
		,t.apply_note
		,t.create_datetime
		,t.approve_user
		,t.approve_datetime			
		,t.remark

		,t.account_number
		FROM
		tstd_hlorder t 
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_hlOrder_count" parameterType="hlOrder" resultType="java.lang.Long">
		SELECT count(1) FROM tstd_hlorder t 
		<include refid="where_condition"/>
	</select>

	<insert id="insert_hlOrder" parameterType="hlOrder">
		INSERT INTO tstd_hlorder(
		hl_no
		,status
		,direction
		,amount
		,apply_user
		
		,apply_note
		,create_datetime			
		,remark
		,account_number	
		)
		VALUES(
		#{hlNo}
		,#{status}
		,#{direction}
		,#{amount}
		,#{applyUser}
		
		,#{applyNote}
		,#{createDatetime}
		,#{remark}	
		,#{accountNumber}
		)
	</insert>

	<update id="update_approve_order" parameterType="hlOrder">
		UPDATE tstd_hlorder
		SET
		status= #{status}
		,approve_user= #{approveUser}
		,approve_datetime= #{approveDatetime}		
		,remark= #{remark}
		WHERE
		hl_no = #{hlNo}			
	</update>
</mapper>
