<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias alias="account" type="com.std.account.domain.Account" />
		<typeAlias alias="accountJour" type="com.std.account.domain.AccountJour" />
		<typeAlias alias="companyChannel" type="com.std.account.domain.CompanyChannel" />
		<typeAlias alias="channelBank" type="com.std.account.domain.ChannelBank" />
	</typeAliases>
</configuration>
