<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.cms.dao.INavigationDAO">
	<resultMap id="navigation_DB_Result" type="navigation">
		<result column="code" property="code"/>
		<result column="title" property="title"/>
		<result column="nav_url" property="navUrl"/>
		<result column="type" property="type"/>
		<result column="parent_code" property="parentCode"/>
		<result column="status" property="status"/>
		<result column="order_no" property="orderNo"/>
		<result column="creator" property="creator"/>
		<result column="create_datetime" property="createDatetime"/>
		<result column="updater" property="updater"/>
		<result column="update_datetime" property="updateDatetime"/>
		<result column="remark" property="remark"/>
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code !='' ">
				AND t.code = #{code}
			</if>
			<if test="title != null and title !='' ">
				AND t.title = #{title}
			</if>
			<if test="navUrl != null and navUrl !='' ">
				AND t.nav_url = #{navUrl}
			</if>
			<if test="type != null and type !='' ">
				AND t.type = #{type}
			</if>
			<if test="parentCode != null and parentCode !='' ">
				AND t.parent_code = #{parentCode}
			</if>
			
			<if test="status != null and status !='' ">
				AND t.status = #{status}
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != ''">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != ''">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_navigation" parameterType="navigation" resultMap="navigation_DB_Result">
		SELECT 	
		code
		,title
		,nav_url
		,type
		,parent_code
		,status
		,order_no
		,creator
		,create_datetime
		,updater
		,update_datetime
		,remark
		FROM tcms_navigation t
		<include refid="where_condition"></include>
		<trim prefix="ORDER BY" >
			<if test="order != null and order !=''">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_count_navigation" parameterType="navigation" resultType="java.lang.Long">
		SELECT count(1) FROM tcms_navigation t
		<include refid="where_condition"></include>
	</select>
	
	<insert id="insert_navigation" parameterType="navigation">
		INSERT INTO tcms_navigation(
		code
		,title
		,nav_url
		,type
		,parent_code
		,status
		,order_no
		,creator
		,create_datetime
		,remark
		) 
		VALUES(
		#{code}
		,#{title}
		,#{navUrl}
		,#{type}
		,#{parentCode}
		,#{status}
		,#{orderNo}
		,#{creator}
		,#{createDatetime}
		,#{remark}
		)
	</insert>
	
	<delete id="delete_navigation" parameterType="navigation">
		DELETE FROM tcms_navigation WHERE code=#{code}
	</delete>
	
	<update id="update_navigation" parameterType="navigation">
		UPDATE tcms_navigation 
		SET
		title=#{title}
		,nav_url=#{navUrl}
		,type=#{type}
		,parent_code=#{parentCode}
		,order_no=#{orderNo}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		,remark=#{remark} 
		WHERE code=#{code}
	</update>
	
	<update id="update_navigation_status" parameterType="navigation">
		UPDATE tcms_navigation
		set
		status=#{status}
		,updater=#{updater}
		,update_datetime=#{updateDatetime}
		WHERE code=#{code}
	</update>
</mapper>