<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IUserCompanyDAO">
	<resultMap id="userCompany_DB_Result" type="userCompany">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="company_id" property="companyId" />
		<result column="remark" property="remark" />
	</resultMap>
	<resultMap id="company_DB_Result" type="company">
		<result column="company_id" property="companyId" />
		<result column="company_name" property="companyName" />
		<result column="licence_no" property="licenceNo" />
		<result column="id_kind" property="idKind" />		
		<result column="id_no" property="idNo" />
		
		<result column="real_name" property="realName" />		
		<result column="capital" property="capital" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="address" property="address" />
		
		<result column="gsyyzz_picture" property="gsyyzzPicture" />		
		<result column="zzjgdmz_picture" property="zzjgdmzPicture" />
		<result column="swdjz_Picture" property="swdjzPicture" />
		<result column="dzz_picture" property="dzzPicture" />
		<result column="sqgh_picture" property="sqghPicture" />
		
		<result column="fr_picture" property="frPicture" />
		<result column="other_picture" property="otherPicture" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="kyc_user" property="kycUser" />
		
		<result column="kyc_datetime" property="kycDatetime" />
		<result column="kyc_note" property="kycNote" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />		
	</resultMap>
	<resultMap id="user_DB_Result" type="user">
		<result column="user_id" property="userId" />
		<result column="mobile" property="mobile" />
		<result column="login_pwd_strength" property="loginPwdStrength" />		
		<result column="user_kind" property="userKind" />
		
		<result column="user_referee" property="userReferee" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		<result column="real_name" property="realName" />
		<result column="trade_pwd_strength" property="tradePwdStrength" />
		
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />	
		<result column="serve_list" property="serveList" />
		<result column="quote_list" property="quoteList" />
		
		<result column="level" property="level" />		
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="companyId != null and companyId != '' ">
				AND t.company_id = #{companyId}
			</if>
		</trim>
	</sql>
	<select id="select_userCompany" parameterType="userCompany" resultMap="userCompany_DB_Result">
		SELECT
		id
		,user_id
		,company_id
		,remark
		FROM
		tstd_user_company t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				#{order}
			</if>
		</trim>
	</select>

	<select id="select_userCompany_count" parameterType="userCompany"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_user_company t
		<include refid="where_condition" />
	</select>

	<insert id="insert_userCompany" parameterType="userCompany">
		INSERT INTO
		tstd_user_company(
		user_id
		,company_id
		,remark
		)
		VALUES(
		#{userId}
		,#{companyId}
		,#{remark}
		)
	</insert>
	
	

	<delete id="delete_userCompany" parameterType="userCompany">
		DELETE FROM
		tstd_user_company
		WHERE
		user_id= #{userId}
		AND
		company_id= #{companyId}
	</delete>
	
	<select id="select_CompanyList" parameterType="userCompany" resultMap="company_DB_Result">
		SELECT 
		c.company_id company_id
		,company_name
		,licence_no
		,id_kind	
		,id_no	
			
		,real_name
		,capital
		,province
		,city
		,address	
			
		,gsyyzz_picture
		,zzjgdmz_picture
		,swdjz_picture
		,dzz_picture
		,sqgh_picture
		
		,fr_picture
		,other_picture
		,apply_user
		,apply_datetime
		,kyc_user
		
		,kyc_datetime
		,kyc_note
		,status
		,c.remark remark
		FROM
		tstd_user_company t right join tstd_company c on t.company_id=c.company_id
		Where
		t.user_id = #{userId}
		<if test="companyStatus != null and companyStatus != '' ">
			AND c.status = #{companyStatus}
		</if>
	</select>
	
	<select id="select_UserList" parameterType="userCompany" resultMap="user_DB_Result">
		SELECT 
		u.user_id user_id
		,mobile
		,login_pwd_strength
		,user_kind	
		,user_referee
		
		,id_kind
		,id_no
		,real_name
		,trade_pwd_strength
		,create_datetime
		
		,u.remark
		,status		
		,serve_list
		,quote_list
		,level
		FROM
		tstd_user_company t right join tstd_user u on t.user_id=u.user_id
		Where
		t.company_id = #{companyId}
	</select>
	
</mapper>
