<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IXNBOrderDAO">
	<resultMap id="xnbOrder_DB_Result" type="xnbOrder">
		<result column="xnb_no" property="xnbNo" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="score" property="score" />
		<result column="amount" property="amount" />
				
		<result column="remark" property="remark" />			
		<result column="create_datetime" property="createDatetime" />		
		<result column="approve_user" property="approveUser" />	
		<result column="approve_datetime" property="approveDatetime" />
		<result column="account_number" property="accountNumber" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="xnbNo != null and xnbNo != '' ">
				AND t.xnb_no = #{xnbNo}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="approveUser != null and approveUser != '' ">
				AND t.approve_user = #{approveUser}
			</if>
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>	
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>						
		</trim>
	</sql>
	<select id="select_xnbOrder" parameterType="xnbOrder" resultMap="xnbOrder_DB_Result">
		SELECT 
		xnb_no
		,status
		,type
		,score
		,amount
		
		,remark
		,create_datetime
		,approve_user
		,approve_datetime
		,account_number	
		FROM
		tli_xnborder t
		<include refid="where_condition"/>
		ORDER BY t.create_datetime
	</select>

	<select id="select_xnbOrder_count" parameterType="xnbOrder" resultType="java.lang.Long">
		SELECT count(1) FROM tli_xnborder t
		<include refid="where_condition"/>
	</select>

	<insert id="insert_xnbOrder" parameterType="xnbOrder">
		INSERT INTO tli_xnborder(
		xnb_no
		,status
		,type
		,score
		,amount
		
		,remark
		,create_datetime
		,account_number
		)
		VALUES(
		#{xnbNo}
		,#{status}
		,#{type}
		,#{score}
		,#{amount}	
			
		,#{remark}
		,#{createDatetime}	
		,#{accountNumber}
		)
	</insert>

	<update id="update_approve_order" parameterType="xnbOrder">
		UPDATE tli_xnborder
		SET
		 status= #{status}
		,approve_user= #{approveUser}
		,approve_datetime= #{approveDatetime}
		,remark= #{remark}
		WHERE
		xnb_no = #{xnbNo}			
	</update>
</mapper>
